@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form method="get" action="/api/pokemon/getbyname">
    <label for="pokemonName">Nome do Pokémon:</label>
    <input type="text" id="pokemonName" name="nome" placeholder="Digite o nome do Pokémon">
    <button type="submit">Buscar Pokémon</button>
</form>

